[submodule "themes/onelou"]
	path = themes/onelou
	url = https://github.com/jyygithub/hugo-theme-onelou.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
